.header {
  text-align: center;
}
.slider {
  position: relative;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;

  border: 1px solid black;
}
.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: row;
}
.left {
  border: 1px solid blue;
  float: left;
  width: 30%;
  padding: 3%;
}
.right {
  border: 1px solid blue;
  float: right;
  width: 70%;
  padding: 3%;
}
.previews {
  height: 30%;
  border: 1px solid red;
  display: flex;

  justify-content: space-around;

  overflow: scroll;
}
.preview {
  position: relative;
  max-width: 250px;
  max-height: 150px;

  float: right;
  border: 1px solid black;
  object-fit: contain;

  display: grid;
}
.carousel {
  width: 100;
}
.previewimage {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.categories {
  display: block;
}
.files {
  padding-left: 10%;
}
.categories {
  margin: auto;
}
